


//! error page 
.Error {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(255, 0, 0);
    font-size: xxx-large;
}