.footerParent {
    background: #F0F0F0 !important;
    align-content: center;
    margin-top: 80px;
    border-width: 0px, 0px, 0px, 0px;
    border-style: solid;
    border-color: #0000001A;


}

.footerForm {
    background-color: #000000 !important;
    width: 100%;
    height: 180px;
    margin-top: -90px;
    text-align: center;
    align-content: center;
}

.formsInputs {
    display: flex;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.formTitle {
    font-family: "Integral CF Bold";
    font-size: 40px;
    font-weight: 700;
    line-height: 45px;
    width: 551px;
    text-align: left;
    color:
        #FFFFFF;
}

.textInput {
    width: 349px;
    height: 48px;
    padding-left: 25%;
    border-radius: 62px;
    box-sizing: border-box;
    margin-bottom: 12px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.icon7 {
    position: absolute;
    left: 45px;
    top: 25%;
    color: #000000;
    font-size: 20px;
}

.submitBtn {
    font-family: 'Satoshi', sans-serif;
    width: 349px;
    height: 48px;
    border-radius: 62px;
    box-sizing: border-box;
    background: #FFFFFF !important;
    color: #000000;
    font-size: 16px;
    font-weight: 500;
    line-height: 21.6px;


}

.shop {
    font-family: "Integral CF Bold";
    font-size: 33.45px;
    font-weight: 700;
    line-height: 40.15px;
    text-align: left;
    color: #000000;

}

.titles {
    font-family: 'Satoshi', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 3px;
    color: #000000;

}

.pargh {
    font-family: 'Satoshi', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    color: #00000099;
}

.ankors {
    font-family: 'Satoshi', sans-serif !important;
    font-size: 16px !important;
    font-weight: 400 !important;
    line-height: 19px !important;
    text-align: left !important;
    color: #00000099;
    


}

.payment {
    background: #FFFFFF;
    width: 46.61px;
    border-radius: 5.38px;
    border: 0.22px solid #D6DCE5;
    box-shadow: 0px 0.45px 4.48px 0px #B7B7B714;
    margin-left: 6px;
    margin-right: 6px;
    text-align: center;
}

.paymentIcons {
    display: flex;
}

@media (min-width:320px) and (max-width: 770px) {

    .formsInputs {
        display: grid !important;
    }

    .footerForm {
        width: 100%;
        height: 293px;
        margin-top: -90px;
        text-align: center;
        align-content: center;
    }

    .formSubmit {
        width: 100%;
        justify-items: center;
    }

    .formTitle {
        font-size: 32px;
        font-weight: 700;
        line-height: 35px;
        width: 297px;
        height: 105px;
        text-align: left;
        color: #FFFFFF;
        padding-top: 32PX;
    }

    .textInput {
        width: 311px;
        margin-top: 32PX;


    }

    .icon7 {
        top: 50%;
    }

    .submitBtn {
        width: 311px;

    }



}